.mottoCreatorInputs {
  width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mottoInputField {
  display: flex;
  flex-direction: column;
}

.navBreak {
  color: black;
}

.navText {
  color: blue;
}

.navText:hover {
  cursor: pointer;
  color: aqua;
  transition: 0.3s;
}

.mottoContents {
  display: flex;
  column-gap: 50px;
}

.mottoDisplayerTable {
  border-collapse: collapse;
}

.mottoDisplayerTable button {
  width: 100%;
  background-color: greenyellow;
}

.mottoDisplayerTable thead {
  font-weight: 500;
}

.mottoDisplayerTable td {
  width: 150px;
  border: 1px solid black;
}
